{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container">
        <ul class="list-group" id="tweets">
            <!-- Create variable "css_class" to hold class value -->
            {% set css_class = 'list-group-item-info' %}
            <!-- Iterate through the passed content and assign "css_class" name from sentiment -->
            {% for element in content %}
                {% if element['label'] == 'neg' %}
                    {% set css_class = 'list-group-item-danger' %}
                {% elif element['label'] == 'pos' %}
                    {% set css_class = 'list-group-item-success' %}
                {% endif %}
                <!-- Create list item with tweet and css_class -->
                <li class="list-group-item {{ css_class }}">{{ element['tweet'] }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
